<header id="header" class="d-column " style="position: relative;">
    <app-navbar></app-navbar>
     <section class="d-flex w-100 h-100 ">
    <section id="primary" class="d-flex mt-5  pt-5 w-50 ms-5 ps-5 justify-content-center align-items-start">
        <section class="text_header ms-5 ps-5 mt-3">
            <h1 class="d-flex">Enjoy your <h1 class="ms-2" style="color:#FF902A;">coffee</h1></h1>
            <h1 class="d-flex"> before your activity</h1>
            <p class="text-secondary mt-4">Boost your productivity and build your <br> mood with a glass of coffee in the morning </p>
            <div class="d-flex">
            <button type="button" class="btn btn-lg rounded-pill fs-6 text-light mb-2" style="background-color: #2F2105;">  Order Now <i class="rounded-5 ms-2 p-1" style="background-color: #FF902A;"> <img src="../../assets/img/cart.svg" alt=""> </i></button>
               <div>
                
            <p class="ms-5 mt-2" style="color:#FF902A;"> More menu</p>
        </div>
        </div>
        </section>
        
        </section>
    <section id="secundary" class="w-50 d-flex ps-5 mt-5 align-items-start justify-content-end">
        <section>
            <img width="70%" src="../../assets/img/background_cafe.png" alt="">
        </section>
    </section>
</section>

<app-popular-product class="position-absolute top-100 start-50 translate-middle"></app-popular-product>
</header>