<section id="about" class="w-100 d-flex justify-content-center align-items-center">
    
    <section class="d-flex w-100 h-50 align-items-center" style="background-color:#F6EBDA;">
    <section class="w-50 mb-5 d-flex justify-content-center align-items-center" id="primary">
        <img width="20%" class="position-absolute mb-5 border-secondary-subtle shadow p-1 border rounded" src="../../../assets/img/unsplash_3n3mPoGko8g.png" alt="">

    </section>
    <section class="w-50" id="secundary">
<div>
        <h1 class="text-black-100">About us</h1>
        <h4  class="text-black-100">We provide quality coffee, and ready to deliver.</h4>
        <p class="text-body-tertiary">We are a company that makes and distributes <br> delicious drinks. our main product is made with a <br> secret recipe and available in stores worldwide.</p>
        <button type="button" class="btn btn-lg rounded-pill fs-6  mb-2 " style="background-color: #2f2105; color:#F4AE26;">  Get your coffee </button>

    </div>
    </section>
</section>
</section>