 

<section id="service" class="d-flex w-100 flex-wrap justify-content-center align-items-center">
  <div class="card-group text-center d-flex justify-content-around flex-wrap mt-5">
      <div class="card align-items-center mt-5" >
        <img src="../../assets/service/image.png" class="card-img-top w-50" alt="...">
        <div class="card-body">
          <h5 class="card-title fw-bold">choose your coffee</h5>
          <p class="card-text">there are 20+ coffees for you</p>
        </div>
      </div>
      <div class="card h-100 align-items-center mt-5">
        <img src="../../assets/service/food-truck 1.png" class="card-img-top  w-50" alt="...">
        <div class="card-body">
          <h5 class="card-title fw-bold">we delivery it to you</h5>
          <p class="card-text">Choose delivery service</p>
        </div>
      </div>
      <div class="card h-100 align-items-center mt-5">
        <img src="../../assets/service/coffee-cup 2.png" class="card-img-top  w-50" alt="...">
        <div class="card-body">
          <h5 class="card-title fw-bold">Enjoy your coffee</h5>
          <p class="card-text">Choose delivery service</p>
        </div>
      </div>
    </div>
  </section>
 