<div class="card h-100 w-75">
    <img
      src="../../../assets/cafe_img/cafe1.png"
      class="card-img-top p-2"
      alt="..."
    />
    <div class="card-img-overlay">
      <a class="btn bg-light rounded-pill border" href="#" role="button">1.8 <img src="../../../assets/img/akar-icons_star.svg" alt=""> </a>
    </div>
    <div class="card-body">

      <section class="d-flex justify-content-between">
          <h3 class="fs-5">Expresso</h3>      
          <h3 class="fs-5">12K</h3>
      </section>
      <section class="d-flex justify-content-between">
          <section>
          <button type="button" class="btn btn-outline-warning"
          style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
    Hot
  </button> 
   <button type="button" class="btn btn-outline-warning"
  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
Gold
</button>
</section>
      <img class="rounded-4 p-1" src="../../../assets/img/cart.svg" style="background-color:#FF902A ;" alt="">            
      </section>

  </div> </div>