<section id="pop_product" class="w-100 d-flex">

  <div class="card-group w-100 d-flex flex-wrap pb-5 p-4 align-self-start " >

    <div class="card   rounded shadow m-2 border-2 border-opacity-25 border-warning">
        <img
          src="../../../assets/cafe_img/cafe3.png"
          class="card-img-top w-100 p-3"
          alt="..."
        />
        <div class="card-img-overlay">
          <a class="btn p-2 bg-light rounded-pill border" href="#" role="button">1.8 <img src="../../../assets/img/akar-icons_star.svg" alt=""> </a>
        </div>
        <div class="card-body">
    
          <section class="d-flex justify-content-between">
              <h3 class="fs-6">Expresso</h3>      
              <h3 class="fs-6">12K</h3>
          </section>
          <section class="d-flex justify-content-between">
              <section> 
              <button type="button" class="btn btn-outline-warning"
              style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
        Hot
      </button> 
       <button type="button" class="btn btn-outline-warning"
      style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
    Gold
    </button>
    </section>
          <img class="rounded-4 p-1" src="../../../assets/img/cart.svg" style="background-color:#FF902A ;" alt="">            
          </section>
    
      </div> </div>
      <div class="card   rounded shadow m-2 border-2 border-opacity-25 border-warning">
        <img
          src="../../../assets/cafe_img/cafe1.png"
          class="card-img-top p-3 w-100"
          alt="..."
        />
        <div class="card-img-overlay">
          <a class="btn bg-light rounded-pill border" href="#" role="button">1.8 <img src="../../../assets/img/akar-icons_star.svg" alt=""> </a>
        </div>
        <div class="card-body">
    
          <section class="d-flex justify-content-between">
              <h3 class="fs-6">Vanilla Latte</h3>      
              <h3 class="fs-6">21K</h3>
          </section>
          <section class="d-flex justify-content-between">
              <section>
              <button type="button" class="btn btn-outline-warning"
              style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
        Hot
      </button> 
       <button type="button" class="btn btn-outline-warning"
      style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
    Gold
    </button>
    </section>
          <img class="rounded-4 p-1" src="../../../assets/img/cart.svg" style="background-color:#FF902A ;" alt="">            
          </section>
    
      </div> </div>
      <div class="card   rounded shadow m-2 border-2 border-opacity-25 border-warning">
        <img
          src="../../../assets/cafe_img/cafe2.png"
          class="card-img-top p-3 w-100"
          alt="..."
        />
        <div class="card-img-overlay">
          <a class="btn bg-light rounded-pill border" href="#" role="button">1.8 <img src="../../../assets/img/akar-icons_star.svg" alt=""> </a>
        </div>
        <div class="card-body">
    
          <section class="d-flex justify-content-between">
              <h3 class="fs-6">Hazelnut Latte</h3>      
              <h3 class="fs-6">23K</h3>
          </section>
          <section class="d-flex justify-content-between">
              <section>
              <button type="button" class="btn btn-outline-warning"
              style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
        Hot
      </button> 
       <button type="button" class="btn btn-outline-warning"
      style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
    Gold
    </button>
    </section>
          <img class="rounded-4 p-1" src="../../../assets/img/cart.svg" style="background-color:#FF902A ;" alt="">            
          </section>
    
      </div> </div>
      
  </div>
  
</section>
