<section id="service" class="d-flex justify-content-center  align-items-center position-relative">
    <div class="card-group  d-flex flex-wrap">
        <div>
            <h1 class="d-flex ms-4 fs-2">Special menu <h1 class="fs-2 ms-2 text-special"> for you</h1></h1>
        </div>
        <section id="pop_product" class="w-100 d-flex">
            <div class="card-group w-100 d-flex flex-wrap  align-self-start " >
          
              <div class="card  m-4  rounded shadow border-2 border-opacity-25 border-warning">
                  <img
                    src="../../../assets/special/unsplash_SqYmTDQYMjo.png"
                    class="rounded card-img-top w-100 p-3"
                    alt="..."
                  />
                  <div class="card-img-overlay">
                    <a class="btn bg-light rounded-pill border" href="#" role="button">4.8 <img src="../../../assets/img/akar-icons_star.svg" alt=""> </a>
                  </div>
                  <div class="card-body">
              
                    <section class="d-flex justify-content-between">
                        <h3 class="fs-6">Expresso</h3>      
                        <h3 class="fs-6">12K</h3>
                    </section>
                    <section class="d-flex justify-content-between">
                        <section> 
                            <p>bread with meat and <br> vegetables</p>
                                </section>
                    <img class="rounded-4 p-1" src="../../../assets/img/cart.svg" style="background-color:#FF902A ; height: 27px;" alt="">            
                    </section>
              
                </div> </div>
                <div class="card m-4  rounded shadow   border-2 border-opacity-25 border-warning">
                  <img
                    src="../../../assets/special/unsplash_SqYmTDQYMjo-4.png"
                    class="card-img-top p-3 w-100"
                    alt="..."
                  />
                  <div class="card-img-overlay">
                    <a class="btn bg-light rounded-pill border" href="#" role="button">4.8 <img src="../../../assets/img/akar-icons_star.svg" alt=""> </a>
                  </div>
                  <div class="card-body">
              
                    <section class="d-flex justify-content-between">
                        <h3 class="fs-6">Expresso</h3>      
                        <h3 class="fs-6">12K</h3>
                    </section>
                    <section class="d-flex justify-content-between">
                        <section> 
                            <p>Hot Milk with less <br> sugar</p>
                        </section>
                    <img class="rounded-4 p-1" src="../../../assets/img/cart.svg" style="background-color:#FF902A ; height: 27px;" alt="">            
                    </section>
              
                </div> </div>
                <div class="card m-4  rounded shadow   border-2 border-opacity-25 border-warning">
                  <img
                    src="../../../assets/special/unsplash_QXzdFy92CGY.png"
                    class="card-img-top p-3 w-100"
                    alt="..."
                  />
                  <div class="card-img-overlay">
                    <a class="btn bg-light rounded-pill border" href="#" role="button">4.8 <img src="../../../assets/img/akar-icons_star.svg" alt=""> </a>
                  </div>
                  <div class="card-body">
              
                    <section class="d-flex justify-content-between">
                        <h3 class="fs-6">Expresso</h3>      
                        <h3 class="fs-6">12K</h3>
                    </section>
                    <section class="d-flex justify-content-between">
                        <section> 
                            <p>Coffe with ice cream <br> vanilla</p>
                        </section>
                    <img class="rounded-4 p-1" src="../../../assets/img/cart.svg" style="background-color:#FF902A ; height: 27px;" alt="">            
                    </section>
              
                </div> </div>
                
            </div>
            
          </section>

          <section id="pop_product" class="w-100 d-flex">

            <div class="card-group w-100 d-flex flex-wrap   align-self-start " >
          
              <div class="card  m-4 rounded shadow border-2 border-opacity-25 border-warning">
                  <img
                    src="../../../assets/special/unsplash_SqYmTDQYMjo-1.png"
                    class="card-img-top w-100 p-3"
                    alt="..."
                  />
                  <div class="card-img-overlay">
                    <a class="btn p-2 bg-light rounded-pill border" href="#" role="button">4.8 <img src="../../../assets/img/akar-icons_star.svg" alt=""> </a>
                  </div>
                  <div class="card-body">
              
                    <section class="d-flex justify-content-between">
                        <h3 class="fs-6">Expresso</h3>      
                        <h3 class="fs-6">12K</h3>
                    </section>
                    <section class="d-flex justify-content-between">
                        <section> 
                         <p>Hot Cappucino</p>
              </section>
                    <img class="rounded-4 p-1" src="../../../assets/img/cart.svg" style="background-color:#FF902A ; height: 27px;" alt="">            
                    </section>
              
                </div> </div>
                <div class="card  m-4 rounded shadow   border-2 border-opacity-25 border-warning">
                  <img
                    src="../../../assets/special/unsplash_SqYmTDQYMjo-2.png"
                    class="card-img-top p-3 w-100"
                    alt="..."
                  />
                  <div class="card-img-overlay">
                    <a class="btn bg-light rounded-pill border" href="#" role="button">4.8 <img src="../../../assets/img/akar-icons_star.svg" alt=""> </a>
                  </div>
                  <div class="card-body">
              
                    <section class="d-flex justify-content-between">
                        <h3 class="fs-6">Expresso</h3>      
                        <h3 class="fs-6">12K</h3>
                    </section>
                    <section class="d-flex justify-content-between">
                        <section> 
                            <p>Hot Cappucino</p>
                        </section>
                    <img class="rounded-4 p-1" src="../../../assets/img/cart.svg" style="background-color:#FF902A ; height: 27px;" alt="">            
                    </section>
              
                </div> </div>
                <div class="card m-4  rounded shadow   border-2 border-opacity-25 border-warning">
                  <img
                    src="../../../assets/special/unsplash_SqYmTDQYMjo-3.png"
                    class="card-img-top p-3 w-100"
                    alt="..."
                  />
                  <div class="card-img-overlay">
                    <a class="btn bg-light rounded-pill border" href="#" role="button">4.8 <img src="../../../assets/img/akar-icons_star.svg" alt=""> </a>
                  </div>
                  <div class="card-body">
              
                    <section class="d-flex justify-content-between">
                        <h3 class="fs-6">Expresso</h3>      
                        <h3 class="fs-6">12K</h3>
                    </section>
                    <section class="d-flex justify-content-between">
                        <section> 
                            <p>Wafle with Ice cream '</p>
                                </section>
                    <img class="rounded-4 p-1" src="../../../assets/img/cart.svg" style="background-color:#FF902A ; height: 27px;" alt="">            
                    </section>
              
                </div> </div>
                
            </div>
            
          </section>
          
      </div>
      
  </section>