<section id="about" class="w-100 d-flex align-items-end">
       <section class="testmonial w-100 justify-content-around mb-5 h-50 rounded d-flex align-items-" id="primary">
        <div class="ms-5 ps-5">
          <h1 class="">What they say about us</h1>
          <p class="fs-5 text-secondary">We always provide the best service <br> and always maintain the quality of coffee</p>
        </div>
        <div class="d-flex justify-content-around w-75  ">
          <div class="card m-5">
            <img src="../../../assets/testemonial/unsplash_b3AYk8HKCl0.png" class="card-img" alt="...">
            <div class="card-img-overlay d-flex align-self-end align-items-end">
            <div class="card-title w-100 rounded position-absolute   rounded  " style="background-color: #FFCB7C; box-shadow: 1px 1px 2px 1px  #FFCB7C  ;">

                <div class="p-1 card-body lh-1"><p class="fw-bold">Naura</p>
                <p>I really love the cappucino, <br> the coffee was very smooth  </p>
                </div>

              </div>
          
            </div>
          </div>
          <div class="card m-5">
            <img src="../../../assets/testemonial/unsplash_SJvDxw0azqw.png" class="card-img" alt="...">
            <div class="card-img-overlay d-flex align-self-end align-items-end">
            <div class="card-title w-100 rounded position-absolute   rounded  " style="background-color: #FFCB7C; box-shadow: 1px 1px 2px 1px  #FFCB7C  ;">

                <div class="p-1 card-body lh-1"><p class="fw-bold">John</p>
                <p>this coffee shop is very <br> convenient  </p>
                </div>

              </div>
          
            </div>
          </div>
          <div class="card m-5">
            <img src="../../../assets/testemonial/unsplash_iEEBWgY_6lA.png" class="card-img" alt="...">
            <div class="card-img-overlay d-flex align-self-end align-items-end">
            <div class="card-title w-100 rounded position-absolute   rounded  " style="background-color: #FFCB7C; box-shadow: 1px 1px 2px 1px  #FFCB7C  ;">

                <div class="p-1 card-body lh-1"><p class="fw-bold">Azura</p>
                <p>the coffee menu here is <br> very much  </p>
                </div>

              </div>
          
            </div>
          </div>
        </div>
      </section>
     </section>